* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 1.3;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: #f0f0f0;
    background-color: #1A2624;
}

.container1{
    width: 100%;
    height: 35vh;
    margin-bottom: 20px;

    background-image: url(flamingo-marko-blazevic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container1 > h1{
    margin: 40px;
    text-align: center;
}

.container1 > p{
    text-align: center;
    padding: 20px;
    background-color: #0000004b;
}

.container2{
    width: 75%;
}

.formOutline{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;

    margin-bottom: 80px;
}

.formOutline > br{
    margin: 40px;
    text-align: right;
}

.formOutline > .intro{
    flex-wrap: wrap;
    width: 100%;

    margin-bottom: 40px;
}

.formOutline > .header{
    margin-bottom: 20px;
}

form{
    width: 100%;
}

.form-row{
    display: flex;
    flex-direction: column;

    margin-bottom: 20px;
}

.form-row label{
    margin-bottom: 8px;
}

input{
    padding: 7px;
    border: 1px solid black;
    border-radius: 3px;
}

a{
    text-decoration: none;
    color: #FF5A5F;
    font-weight: 400;
}

a:hover{
    font-weight: bold;
}

.create{
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    width: 80%;

    padding: 10px 20px;
    border: 1px solid #FF5A5F;
    background-color: #FF5A5F;
    color: #f0f0f0;
    border-radius: 3px;

    margin: 20px 0px;
}

.create:hover{
    background-color: #ff3c42;
}

.account{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

.form-row input[type='text']:invalid,
.form-row input[type='email']:invalid,
.form-row input[type='number']:invalid {
  border: 1px solid #FF5A5F;
  color: #FF5A5F;
  box-shadow: none;
}

.form-row input:focus{
    border: 1px solid #00A699;
    color: #00A699;
    box-shadow: none;
}

/* --------------------------- Media Query Here ------------------------------- */
@media only screen and (min-width: 700px){
    
body{
    flex-direction: row;
    font-size: 24px;
    line-height: 1.3;
}

.container1{
    height: 100vh;
    max-width: 40%;
    background-size: cover;
}

.container2 {
    flex-grow: 1;
}

.formOutline{
    width: 70%;
    display: flex;

    flex-wrap: wrap;
    gap: 20px;
    margin-left: 40px;
}

.container1 > h1{
    text-align: left;
}

.form-row{
    display: flex;
    flex-direction: column;

    margin-bottom: 20px;
    width: 45%;
}

.form{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content:space-between;
}

input{
    font-size: 20px;

}

.create{
    font-size: 20px;
    width: 60%;
}
}
/* Get container size right.
Apply img to container. Centered, etc. This is for later, just layouts first,.
Handle logo text
Handle credentials. */