* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 1.3;
    /* background-color: #1B2725; */

    display: flex;
    flex-direction: column;
    align-items: center;
}

.container1{
    width: 100%;
    height: 35vh;
    /* background-image: url(flamingo-marko-blazevic.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    object-position: top;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container1 > h1{
    padding: 20px;
}

.container1 > p{
    text-align: center;
    padding: 20px;
    /* background-color: rgba(14, 14, 14, 0.5); */
}

.container2{
    width: 75%;
}

.formOutline{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;

    margin-bottom: 80px;
}

.formOutline > .intro{
    flex-wrap: wrap;
    width: 100%;

    margin-bottom: 40px;
}

.formOutline > .header{
    margin-bottom: 20px;
}

.form{
    width: 100%
}

.form-row{
    display: flex;
    flex-direction: column;

    margin-bottom: 20px;
}

.form-row label{
    margin-bottom: 8px;
}

input{
    padding: 7px;
    border: 1px solid;
    border-radius: 3px;

    width: 100%;
}

.create{
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    width: 80%;

    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 3px;

    margin: 20px 0px;
}

.account{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}



@media only screen and (min-width: 700px){
    
body{
    flex-direction: row;
    font-size: 20px;
    line-height: 1.3;
}

.container1{
    height: 100vh;
    max-width: 40%;
}

.container2 {
    flex-grow: 1;
}

.formOutline{
    width: 70%;
    display: flex;

    flex-wrap: wrap;
    gap: 20px;
    
}

.form-row{
    display: flex;
    flex-direction: column;

    margin-bottom: 20px;
    width: 45%;
}

.form{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content:space-between;
}

input{
    font-size: 20px;
}

.create{
    font-size: 20px;
}

}
/* Get container size right.
Apply img to container. Centered, etc. This is for later, just layouts first,.
Handle logo text
Handle credentials. */